header, .v-system-bar {
  -webkit-app-region: drag;
}
header .v-input,
header .v-menu__content,
header button,
.v-system-bar .v-icon,
.no-drag
{
  -webkit-user-select: none !important;
  -webkit-app-region: no-drag !important;
}

.page {
  position: absolute;
}
.page .innerpage-wrap {
  overflow: auto;
  height: 93vh;
}
